name: Train and Store Model

on:
  workflow_run:
    workflows: ["Run Python script twice per day"]
    types:
      - completed
  workflow_dispatch: # Zodat je hem ook nog handmatig kunt starten

permissions:
  contents: write

jobs:
  train:
    runs-on: ubuntu-latest

    if: >
      github.event.workflow_run.conclusion == 'success' && 
      (github.event.workflow_run.event == 'workflow_dispatch' || 
      contains(github.event.workflow_run.triggering_actor.login, 'github-actions')) &&
      format('{0}', github.event.workflow_run.updated_at) > format('{0}', '16:00')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas numpy scikit-learn joblib scipy matplotlib


      - name: Create Model directory
        run: mkdir -p Model

      - name: Train Live Model
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python train_live_forest.py

      - name: Push Model to Repo
        run: |
          git config --global user.name 'Model Training Bot'
          git config --global user.email 'bot@trading.com'
          git add Model/
          git commit -m "Update Random Forest Model: $(date +'%Y-%m-%d')" || echo "Geen wijzigingen"
          git push
